
server.port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/db_name
    username: db_username
    password: db_password
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /sandbox

logging:
  level:
    org:
      hibernate:
        type: trace